@import "reset";
@import "bourbon";
@import "base/base";
@import "neat";
@import "mixins";

/*===============================
=            General            =
===============================*/
html, body {
  height: 100%;
}
.wrap {
  width: 75%;
  margin: 0 auto;
}

/*=====  End of General  ======*/

/*==================================
=            Top banner            =
==================================*/

.top {
  background: white;
  width: 85%;
  height: 100px;
  margin: 0 auto;
  /*----------  Left side of top banner  ----------*/
  .left {
    height: 100%;
    @include span-columns(4);
    img {
      margin: 25px 0;
      max-height: 50px;
    }
  }
  /*----------  Right section with menu  ----------*/
  .right {
    text-align: right;
    height: 100%;
    @include span-columns(8);
    @include omega();
    line-height: 100px;
    vertical-align: middle;
      /*----------  Each menu item  ----------*/
      li {
        display: inline-block;
        padding-left: 1em;
        padding-right: 1em;
        &:last-of-type {
          padding-right: 0;
        }
        /*----------  styling just the link  ----------*/
        a {
          padding: 20px;
          border-radius: $base-border-radius;
          &:hover {
            @include transition();
            background: $lightblue;
            color: $white;
          }
        }
      }
  }
  
}

/*=====  End of Top banner  ======*/

/*==========================================
=            Background of page            =
==========================================*/

.background {
  background-image: url('../images/background.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*=====  End of Background of page  ======*/

/*==============================
=            Header            =
==============================*/

header {
  width: 100%;
  z-index: 1;
  @include row();
  background: transparent;
  height: 400px;
  .left {
    @include text-shadow(-1px, -1px, 4px, rgba(0,0,0,.1));
    position: relative;
    @include span-columns(5);
    @include shift(1);
    padding-top: 100px; 
    color: white;
    h1 {
      color: white;
    }
    p {
      margin: 0;
      font-size: $base-font-size * 1.15;  
    }
    p:last-of-type {
      margin: 0 0 20px 0;
    }
  }
  .right {
    height: 400px;
    position: relative;
    @include span-columns(6);
    @include omega();
    img { /* iPad Image */
      @include transition();
      z-index: 3;
      max-width: 100%;
      position: absolute;
      top:50px;
      right: 0;
      /* ipad hover */
      @include animation(scale 1.00s ease-in);
    }
  }
}

@include keyframes(scale) {
  0%, 100% {
    @include transform(scale(1));
  }
  50% {
    @include transform(scale(1.01));
  }
}

/**
 *
 * Demo Button with slide
 *
 */
#demobutton {
  @include animation(slide 1.0s ease-out);
}

@include keyframes(slide) {
  0% {
    @include transform(translateY(1000px));
  }
  100% {
    @include transform(translateY(0));
  }
}
/*=====  End of Header  ======*/

/*=======================================
=            Callout General            =
=======================================*/

.breakout {
  @include box-shadow(0, 0, 4px, rgba(0,0,0,.1));
  position: relative;
  z-index: 2;
  padding: 5.5em 0; 
  background: $ultralightblue;
  overflow: auto;
  .small {
    width: 50%;
    margin: 0 0;
  }
}
.transparent {
  background: transparent; 
  color: white; 
}

/*=====  End of Callout General  ======*/

/*=========================================
=            Benefits:            =
=========================================*/

.benefit {
  @include span-columns(4);
  padding: 20px;
  display: inline-block;
}

.fa {
  padding-right: 3px;
}
/*=====  End of Benefits  ======*/

/*==============================
=            Footer            =
==============================*/



/*=====  End of Footer  ======*/
