#{$all-buttons},.full,.hollow {
  appearance: none;
  background-color: $action-color;
  border: 2px solid $action-color; 
  border-radius: $base-border-radius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    border: 2px solid transparent;
    background-color: shade($action-color, 20%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}
a.full::after, a.arrow::after {
content: '\0020\203A';
vertical-align: baseline; 
}
.hollow {
  background: rgba(0,0,0,.01);
  &:hover,
  &:focus {
    border: 2px solid $action-color; 
    background-color: rgba(0,0,0,.4);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: rgba(0,0,0,.2);
    }
  }
}
