/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, input[type="button"], input[type="reset"], input[type="submit"], .full, .hollow {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #12B976;
  border: 2px solid #12B976;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  -webkit-transition: background-color 125ms ease;
  transition: background-color 125ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus, .full:hover, .full:focus, .hollow:hover, .hollow:focus {
    border: 2px solid transparent;
    background-color: #0e945e;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled, .full:disabled, .hollow:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover, .full:disabled:hover, .hollow:disabled:hover {
      background-color: #12B976; }

a.full::after, a.arrow::after {
  content: '\0020\203A';
  vertical-align: baseline; }

.hollow {
  background: rgba(0, 0, 0, 0.01); }
  .hollow:hover, .hollow:focus {
    border: 2px solid #12B976;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff; }
  .hollow:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    .hollow:disabled:hover {
      background-color: rgba(0, 0, 0, 0.2); }

fieldset {
  background-color: #00182D;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple] {
  background-color: #F6FBFF;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  -webkit-transition: border-color 125ms ease;
  transition: border-color 125ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple=multiple]:hover {
    border-color: #b1b1b1; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple=multiple]:focus {
    border-color: #12B976;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(16, 162, 103, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple=multiple]:disabled {
    background-color: #eaeef2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple=multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    display: inline-block; }

input[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  -webkit-font-feature-settings: "kern", "liga", "tnum";
          font-feature-settings: "kern", "liga", "tnum";
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

html, body {
  color: #00182D;
  font-family: "Open Sans", sans-serif;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
          font-feature-settings: "kern", "liga", "pnum";
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
  margin: 0 0 .1em;
  color: #00182D; }

h1 {
  font-size: 2.25em;
  font-weight: 700; }

h2 {
  font-size: 2em;
  font-weight: 700; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a.blue {
  color: #1F7AC7; }
  a.blue:active, a.blue:focus, a.blue:hover {
    color: #175c95; }

a {
  color: #12B976;
  text-decoration: none;
  -webkit-transition: color 125ms ease;
  transition: color 125ms ease; }
  a:active, a:focus, a:hover {
    color: #0e8b59; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
  List of CSS3 Sass Mixins File to be @imported and @included as you need
  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files
  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties
------------------------------------------------------------- */
/*===============================
=            General            =
===============================*/
html, body {
  height: 100%; }

.wrap {
  width: 75%;
  margin: 0 auto; }

/*=====  End of General  ======*/
/*==================================
=            Top banner            =
==================================*/
.top {
  background: white;
  width: 85%;
  height: 100px;
  margin: 0 auto;
  /*----------  Left side of top banner  ----------*/
  /*----------  Right section with menu  ----------*/ }
  .top .left {
    height: 100%;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%; }
    .top .left:last-child {
      margin-right: 0; }
    .top .left img {
      margin: 25px 0;
      max-height: 50px; }
  .top .right {
    text-align: right;
    height: 100%;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%;
    margin-right: 0;
    line-height: 100px;
    vertical-align: middle;
    /*----------  Each menu item  ----------*/ }
    .top .right:last-child {
      margin-right: 0; }
    .top .right li {
      display: inline-block;
      padding-left: 1em;
      padding-right: 1em;
      /*----------  styling just the link  ----------*/ }
      .top .right li:last-of-type {
        padding-right: 0; }
      .top .right li a {
        padding: 20px;
        border-radius: 3px; }
        .top .right li a:hover {
          -webkit-transition: all 0.2s ease-in-out 0s;
          transition: all 0.2s ease-in-out 0s;
          background: #6FB7F2;
          color: #fff; }

/*=====  End of Top banner  ======*/
/*==========================================
=            Background of page            =
==========================================*/
.background {
  background-image: url("../images/background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

/*=====  End of Background of page  ======*/
/*==============================
=            Header            =
==============================*/
header {
  width: 100%;
  z-index: 1;
  display: block;
  background: transparent;
  height: 400px; }
  header::after {
    clear: both;
    content: "";
    display: table; }
  header .left {
    text-shadow: -1px -1px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%;
    margin-left: 8.5298042998%;
    padding-top: 100px;
    color: white; }
    header .left:last-child {
      margin-right: 0; }
    header .left h1 {
      color: white; }
    header .left p {
      margin: 0;
      font-size: 1.15em; }
    header .left p:last-of-type {
      margin: 0 0 20px 0; }
  header .right {
    height: 400px;
    position: relative;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%;
    margin-right: 0; }
    header .right:last-child {
      margin-right: 0; }
    header .right img {
      /* iPad Image */
      -webkit-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s;
      z-index: 3;
      max-width: 100%;
      position: absolute;
      top: 50px;
      right: 0;
      /* ipad hover */
      -webkit-animation: scale 1s ease-in;
      animation: scale 1s ease-in; }

@-webkit-keyframes scale {
  0%, 100% {
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.01);
    -khtml-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01); } }
@keyframes scale {
  0%, 100% {
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.01);
    -khtml-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01); } }
/**
 *
 * Demo Button with slide
 *
 */
#demobutton {
  -webkit-animation: slide 1s ease-out;
  animation: slide 1s ease-out; }

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateY(1000px);
    -khtml-transform: translateY(1000px);
    -ms-transform: translateY(1000px);
    transform: translateY(1000px); }
  100% {
    -webkit-transform: translateY(0);
    -khtml-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }
@keyframes slide {
  0% {
    -webkit-transform: translateY(1000px);
    -khtml-transform: translateY(1000px);
    -ms-transform: translateY(1000px);
    transform: translateY(1000px); }
  100% {
    -webkit-transform: translateY(0);
    -khtml-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }
/*=====  End of Header  ======*/
/*=======================================
=            Callout General            =
=======================================*/
.breakout {
  -ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
  padding: 5.5em 0;
  background: #F6FBFF;
  overflow: auto; }
  .breakout .small {
    width: 50%;
    margin: 0 0; }

.transparent {
  background: transparent;
  color: white; }

/*=====  End of Callout General  ======*/
/*=========================================
=            Benefits:            =
=========================================*/
.benefit {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%;
  padding: 20px;
  display: inline-block; }
  .benefit:last-child {
    margin-right: 0; }

.fa {
  padding-right: 3px; }

/*=====  End of Benefits  ======*/
/*==============================
=            Footer            =
==============================*/
/*=====  End of Footer  ======*/
